[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-picklefield = "*"
lxml = "*"
python-telegram-bot = ">=21.6,<22.0"
Django = ">=5.2,<6.0"
Pillow = ">=10.4.0"
APScheduler = ">=3.10.4"
django-constance = ">=4.0.2"
psycopg = {extras = ["binary"], version = ">=3.2"}
gunicorn = ">=22.0"
tzlocal = ">=5.2"

[requires]
python_version = "3.12"