{% load static %}
{% load i18n %}

  <div class="show-for-medium medium-4 large-2 column" style="padding:0;"> <a id="HomeLink" href="https://{{ request.META.HTTP_HOST }}"><img src="{% static "images/Mejnkun.jpeg" %}"></div></a>
       <script>
            var findlink = document.getElementById("HomeLink");
            if (window.location.protocol != "https:") {
                    findlink.href = "http://{{ request.META.HTTP_HOST }}";
            }
       </script>
  <div class="small-12 medium-8 large-10 column" style="padding:0;">
  <form method="get" action="{% url "web:searchbooks" %}" id="searchform" data-abide>
  {% csrf_token %}
 
    <div class="input-group">  
		<input class="input-group-field" type="search" name="searchterms" placeholder="" id="main_searchbox" data-validator="check_search" required>

		<div class="input-group-button">
		      <button class="button" type="submit" data-close="search-dropdown" name="submit">{% trans "Search" %}</button>	   
		</div>   
		
		<div class="input-group-button">
		      <a class="dropdown button arrow-only float-right" data-toggle="search-dropdown"></a>    
		</div> 	
		<input type="hidden" name="page" value="0">		
	</div>
			
	<div class="dropdown-pane bottom" id="search-dropdown" data-dropdown>
	  <div class="row">
	  <fieldset class="large-12 columns">
	    <legend>{% trans "Choose Search Type:" %}</legend>
	    <input type="radio" name="searchtype" value="m" id="title" onClick="SetSearch()" {% if searchobject == "title" or not searchobject %}checked{%endif%}><label for="title">{% trans "Title" %}</label>
	    <input type="radio" name="searchtype" value="m" id="author" onClick="SetSearch()" {% if searchobject == "author" %}checked{%endif%}><label for="author">{% trans "Author" %}</label>
	    <input type="radio" name="searchtype" value="m" id="series" onClick="SetSearch()" {% if searchobject == "series" %}checked{%endif%}><label for="series">{% trans "Series" %}</label>
	  </fieldset>
	  </div>
	</div>	
	 		    
  </form>
  
  </div>

       <div class="show-for-medium" align="center">{% trans "Life should be filled with books that are filled with life." %} </div>
      
  <script>    	

	function SetSearch() {
	        var searchtype = $("input[name='searchtype']:radio:checked").attr("id");
			document.getElementsByName('searchterms')[0].placeholder = "Выберите тип поиска рядом с кнопкой 'Найти'";
			if (searchtype == "title") {
			    document.getElementsByName('searchterms')[0].placeholder = "Поиск по названию книги";
				$('#searchform').attr( "action","{% url "web:searchbooks" %}");
				}
			if (searchtype == "author") {
			    document.getElementsByName('searchterms')[0].placeholder = "Поиск по Ф.И.О. автора";
				$('#searchform').attr( "action","{% url "web:searchauthors" %}");
				}
			if (searchtype == "series") {
			    document.getElementsByName('searchterms')[0].placeholder = "Поиск по серии";
				$('#searchform').attr( "action","{% url "web:searchseries" %}");
			    }
	        $('#search-dropdown').foundation('close');         
	}	   

  </script>
